<h1>| Galton Board 🎲 🆅2 |</h1>

<table>
    <tbody>
        <tr>
            <td class="CSSVisibility">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td class="CSSVisibility">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td class="CSSVisibility">⬛</td>
            <td>⚪</td>
            <td id="_0">⬛</td>
            <td>🎲</td>
            <td id="_1">⬛</td>
            <td>⚪</td>
            <td class="CSSVisibility">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td class="CSSVisibility">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td class="CSSVisibility">⬛</td>
        </tr>
        <tr>
            <td class="CSSVisibility">⚪</td>
            <td class="CSSVisibility">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td class="CSSVisibility">⬛</td>
            <td>⚪</td>
            <td id="_2">⬛</td>
            <td>⚪</td>
            <td id="_3">⬛</td>
            <td>⚪</td>
            <td id="_4">⬛</td>
            <td>⚪</td>
            <td class="CSSVisibility">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td class="CSSVisibility">⬛</td>
            <td class="CSSVisibility">⚪</td>
        </tr>
        <tr>
            <td class="CSSVisibility">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td class="CSSVisibility">⬛</td>
            <td>⚪</td>
            <td id="_5">⬛</td>
            <td>⚪</td>
            <td id="_6">⬛</td>
            <td>⚪</td>
            <td id="_7">⬛</td>
            <td>⚪</td>
            <td id="_8">⬛</td>
            <td>⚪</td>
            <td class="CSSVisibility">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td class="CSSVisibility">⬛</td>
        </tr>
        <tr>
            <td class="CSSVisibility">⚪</td>
            <td class="CSSVisibility">⬛</td>
            <td>⚪</td>
            <td id="_9">⬛</td>
            <td>⚪</td>
            <td id="_10">⬛</td>
            <td>⚪</td>
            <td id="_11">⬛</td>
            <td>⚪</td>
            <td id="_12">⬛</td>
            <td>⚪</td>
            <td id="_13">⬛</td>
            <td>⚪</td>
            <td class="CSSVisibility">⬛</td>
            <td class="CSSVisibility">⚪</td>
        </tr>
        <tr>
            <td class="CSSVisibility">⬛</td>
            <td>⚪</td>
            <td id="_14">⬛</td>
            <td>⚪</td>
            <td id="_15">⬛</td>
            <td>⚪</td>
            <td id="_16">⬛</td>
            <td>⚪</td>
            <td id="_17">⬛</td>
            <td>⚪</td>
            <td id="_18">⬛</td>
            <td>⚪</td>
            <td id="_19">⬛</td>
            <td>⚪</td>
            <td class="CSSVisibility">⬛</td>
        </tr>
        <tr>
            <td>⚪</td>
            <td id="_20">⬛</td>
            <td>⚪</td>
            <td id="_21">⬛</td>
            <td>⚪</td>
            <td id="_22">⬛</td>
            <td>⚪</td>
            <td id="_23">⬛</td>
            <td>⚪</td>
            <td id="_24">⬛</td>
            <td>⚪</td>
            <td id="_25">⬛</td>
            <td>⚪</td>
            <td id="_26">⬛</td>
            <td>⚪</td>
        </tr>
        <tr>
            <td id="_27">⬛</td>
            <td>⚪</td>
            <td id="_28">⬛</td>
            <td>⚪</td>
            <td id="_29">⬛</td>
            <td>⚪</td>
            <td id="_30">⬛</td>
            <td>⚪</td>
            <td id="_31">⬛</td>
            <td>⚪</td>
            <td id="_32">⬛</td>
            <td>⚪</td>
            <td id="_33">⬛</td>
            <td>⚪</td>
            <td id="_34">⬛</td>
        </tr>
        <tr>
            <td id="_35">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_36">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_37">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_38">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_39">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_40">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_41">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_42">⬛</td>
        </tr>
        <tr>
            <td id="_43">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_44">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_45">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_46">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_47">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_48">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_49">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_50">⬛</td>
        </tr>
        <tr>
            <td id="_51">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_52">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_53">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_54">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_55">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_56">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_57">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_58">⬛</td>
        </tr>
        <tr>
            <td id="_59">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_60">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_61">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_62">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_63">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_64">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_65">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_66">⬛</td>
        </tr>
        <tr>
            <td id="_67">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_68">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_69">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_70">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_71">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_72">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_73">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_74">⬛</td>
        </tr>
        <tr>
            <td id="_75">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_76">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_77">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_78">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_79">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_80">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_81">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_82">⬛</td>
        </tr>
        <tr>
            <td id="_83">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_84">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_85">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_86">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_87">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_88">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_89">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_90">⬛</td>
        </tr>
        <tr>
            <td id="_91">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_92">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_93">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_94">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_95">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_96">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_97">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_98">⬛</td>
        </tr>
        <tr>
            <td id="_99">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_100">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_101">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_102">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_103">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_104">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_105">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_106">⬛</td>
        </tr>
        <tr>
            <td id="_107">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_108">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_109">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_110">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_111">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_112">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_113">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_114">⬛</td>
        </tr>
        <tr>
            <td id="_115">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_116">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_117">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_118">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_119">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_120">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_121">⬛</td>
            <td class="CSSVisibility">⚪</td>
            <td id="_122">⬛</td>
        </tr>
    </tbody>
</table>

<button mat-raised-button id="start-bttn" (click)="start_func()">
    <span>Start</span>
</button>

<button mat-raised-button id="annul-ui-state-bttn" (click)="annul_ui_state_func()">
    <span>Annul UI state</span>
</button>

<br>